<html>
<head>
  <title>Fetch Text</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</script>
</head>
<body>
  <div class="container" style="width: 460px">
    <a href="https://github.com/lambtron/fetchtext-api"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <div class="row text-center" style="margin: 50px 0px 30px 0px">
      <h1><a href="/" style="color: black; text-decoration: none">Fetch Text</a></h1>
    </div>
    <div class="row" style="font-size: 1.4em;">
      <p>
        Documentation
      </p>
      <hr>
    </div>
    <div class="row">
      <h4>Sample request</h4>
      <br>
      <p>
        A simple <code>GET</code> request to the endpoint with querystring <code>URL</code>, as per example below:
      </p>
      <br>
      <pre><code>curl http://fetchtext-api.herokuapp.com/fetch/?url=http://www.polygon.com/2014/6/26/5842180/shovel-knight-review-pc-3ds-wii-u</code></pre>
      <br>
      <h4>Sample response</h4>
      <br>
      <p>
        You get an object response:
      </p>
      <br>
      <pre><code>{
    "title":"Shovel Knight review",
    "favicon":"https://cdn1.vox-cdn.com/community_logos/42931/favicon.ico",
    "description":"Shovel Knight is inspired by the past in all the right ways — but it's far from stuck in it.",
    "lang":"en",
    "canonicalLink":"http://www.polygon.com/2014/6/26/5842180/shovel-knight-review-pc-3ds-wii-u",
    "tags":[],
    "image":"https://cdn1.vox-cdn.com/thumbor/WZp9mXYh34UoVjXCZWqd9MQ_LOA=/1x0:1914x1076/1280x720/cdn0.vox-cdn.com/uploads/chorus_image/image/34817507/jellyfish_hero.0.png",
    "videos":[],
    "text":"Shovel Knight is inspired by the past in all the right ways — but it's far from ..."
}</code></pre>
      <br>
      <h4>Example</h4>
      <br>
      <p>
        Click <a href="/fetch/?url=http://www.polygon.com/2014/6/26/5842180/shovel-knight-review-pc-3ds-wii-u">here</a>.
      </p>
      <hr>
    </div>
    <div class="row">
      <footer class="col-xs-12 footer" style="text-align: center; bottom: 0px; margin: 1.2em;">
        <a href="https://www.github.com/lambtron/fetchtext-api">Github</a> | Made with <span class="glyphicon glyphicon-heart" style="color: #EE2C2C"></span> by <a href="http://www.twitter.com/andyjiang">@andyjiang</a>
      </footer>
    </div>
  </div>
</body>
</html>
